/*
  Специально для тёмной темы при наличии класса
*/
:root.theme-dark {
    --main-text-color: #F1B2CE;
    --title-color: #DB00FF;
    --title-shadow: #FF0070;
    --hover-color: rgba(255, 0, 112, 0.4);
    --background-color: #000028;
    --accent-color: #FF0070;
    --section-title-color: #FF0070;
    --decor-color: #FF0070;
    --button-color: #FF0070;
    --link-shadow: #FF0070;
    --cover-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__decoration {
    display: block;
}