/*
  Специально для светлой темы при наличии класса.
*/
:root.theme-light {
    --main-text-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow: #FF8DCB;
    --hover-color: rgba(50, 49, 45, 0.4);
    --background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --section-title-color: #353430;
    --decor-color: #353430;
    --button-color: #353430;
    --link-shadow: #FF8DCB;
    --cover-image: url("../images/cover-image-light.png");
}

.theme-light .header__decoration {
    display: none;
}

.theme-light .title-decor {
    --accent-color: #FF8DCB;
}

.theme-light .header__theme-menu-button {
    --button-color: #353430;
}

.theme-light .header__theme-menu-button:hover {
    --hover-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
    :root {
        --main-text-color: #353430;
        --title-color: #FFC2E6;
        --title-shadow: #FF8DCB;
        --hover-color: rgba(50, 49, 45, 0.4);
        --background-color: #FFF1F7;
        --accent-color: #FF8DCB;
        --section-title-color: #353430;
        --decor-color: #353430;
        --button-color: #353430;
        --link-shadow: #FF8DCB;
        --cover-image: url("../images/cover-image-light.png");
    }

    .header__decoration {
        display: none;
    }
}