/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    background-color: var(--background-color);
    background-image: var(--cover-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--main-font);
    font-size: var(--font-size);
    line-height: 1.3;
    color: var(--main-text-color);
}

/* Декоративные элементы */
.decorated-zone::before,
.decorated-zone::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
}

.decorated-zone::before {
    border-inline-end: 1px solid var(--decor-color);
    border-block-start: 1px solid var(--decor-color);
    inset-inline-end: var(--gap);
    inset-block-start: var(--gap);
}

.decorated-zone::after {
    border-inline-start: 1px solid var(--decor-color);
    border-block-end: 1px solid var(--decor-color);
    inset-inline-start: var(--gap);
    inset-block-end: var(--gap);
}

/* Шапка */
.header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
    padding: var(--gap);
    min-block-size: 100vh;
}

.header__decoration {
    position: absolute;
    inset-inline-end: 28px;
    inset-block-start: 20px;
    color: var(--accent-color);
    text-transform: uppercase;
}

.header__decoration::after {
    content: '';
    display: inline-block;
    margin-inline-start: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--accent-color);
    background-color: var(--accent-color);
    inline-size: 9px;
    block-size: 9px;
}

.header__theme-menu {
    justify-self: end;
    margin-block-start: 65px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    background: transparent;
    border: none;
    padding: 0 13px;
    color: var(--button-color);
    text-transform: lowercase;
    cursor: pointer;
    line-height: 1;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--button-color);
}

.header__title {
    font-size: var(--title-font-size-mobile);
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--title-shadow);
    line-height: 0.825;
}

.header__text {
    max-inline-size: 364px;
    justify-self: end;
    margin-block-start: 55px;
}

/* Основное содержимое */
.content {
    display: grid;
    gap: var(--section-gap);
    padding: var(--gap);
}

.section {
    display: grid;
    gap: var(--gap);
}

.section__title {
    color: var(--section-title-color);
    font-size: inherit;
    font-weight: bold;
}

.section__content {
    display: grid;
    gap: var(--gap);
}

.article {
    display: grid;
    gap: 10px;
}

.article__title {
    font-size: inherit;
}

.title-decor {
    background-color: var(--accent-color);
    color: var(--background-color);
    font-weight: bold;
}

.title-decor-last-block {
    background-color: var(--accent-color);
    color: var(--background-color);
    font-weight: normal;
}


.link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--link-shadow);
}

.link:hover {
    border-block-end: 1px solid currentColor;
}

.link:focus {
    outline: none;
}

.link:focus-visible {
    outline: 1px solid currentColor;
}

/* Галерея */
.gallery__grid {
    display: grid;
    gap: var(--gap);
}

.gallery__image {
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
}

/* Подвал */
.footer {
    position: relative;
    display: grid;
    place-items: center;
    min-block-size: 100vh;
    padding: var(--gap);
}

.footer__title {
    font-size: var(--title-font-size-mobile);
    color: var(--title-color);
    text-shadow: 2px 2px 0 var(--title-shadow);
}


/* Адаптивные стили для планшетов (>= 768px) */
@media (width >= 768px) {
    .header {
        padding: 20px;
    }

    .header__theme-menu {
        margin-block-start: 170px;
    }

    .header__title {
        font-size: var(--title-font-size-desktop);
        margin-inline-start: -20px;
    }

    .header__text {
        max-inline-size: 491px;
        margin-block-start: 162px;
    }

    .content {
        gap: 80px;
        padding: 60px 20px;
    }

    .section {
        grid-template-columns: 1fr 2fr;
    }

    .section__title {
        grid-row: span 2;
    }


    .concentration-reducers .section__content {
        grid-column: 1 / -1;
    }

    .gallery__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery__image:first-child,
    .gallery__image:last-child {
        grid-column: span 2;
    }

    .gallery__image:nth-child(2),
    .gallery__image:nth-child(3) {
        grid-row: span 3;
    }

    .footer__title {
        font-size: var(--title-font-size-desktop);
    }
}

/* Адаптивные стили для десктопов (>= 1024px) */
@media (width >= 1024px) {
    .header__theme-menu {
        justify-self: center;
        margin-inline-start: 20px;
        margin-block-start: 0;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__text {
        max-inline-size: 491px;
        margin-block-start: 114px;
    }

    .section__content {
        grid-column: 2/ 3;
    }

    .concentration-reasons .section__content {
        grid-column: 2 / 3;
    }

    .concentration-reducers .section__content {
        grid-template-columns: repeat(3, 1fr);
    }
}



