/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: var(--font-size-base);
    margin: 0;
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    padding: 10px;
    height: 100vh;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
}
.decorated-zone::before {
    top: 10px;
    right: 10px;
    border-top: 1px solid var(--decor-color);
    border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
    bottom: 35px;
    left: 10px;
    border-bottom: 1px solid var(--decor-color);
    border-left: 1px solid var(--decor-color);
}

.rec__decoration {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--accent-color);
    text-transform: uppercase;
}

.rec__decoration:after {
    content: '';
    display: inline-block;
    margin-inline-start: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--accent-color);
    background-color: var(--accent-color);
    inline-size: 9px;
    block-size: 9px;
}

.header__theme-menu {
    justify-self: end;
    align-self: center;
}

.header__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
    font-size: var(--header-title-size-mobile);
    line-height: 83%;
    font-weight: 700;
    margin-block-start: 60px;

}

.header__theme-menu-button {
    background: transparent;
    border: none;
    padding: 0 13px;
    color: var(--button-color);
    text-transform: lowercase;
    cursor: pointer;
    line-height: 18px;
    font-size: 18px;
    font-weight: 400;
    inline-size:70px;
    block-size: 20px;
}

.header__theme-menu-list {
    margin-block-start: 68px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--button-color);
}

.header__text {
    margin-block-start: -30px;
    line-height: 24px;
    font-weight: 700;
    font-size: 20px;
    inline-size: 355px;
    block-size: 117px;
}

.title-decor {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    font-weight: bold;
}

.title-decor-last-block {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    font-weight: normal;
}

.section {
    padding: 0 10px;
}

.section__title {
    color: var(--section-title-color);
    line-height: 24px;
    font-weight: 400;
    font-size: 20px;
}

.article__title {
    line-height: 24px;
    font-size: inherit;

}

.article__text {
    font-size: 18px;
    line-height: 24px;
}

.link {
    text-decoration: none;
    color: var(--text-color);
    text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
    border-bottom: 1px solid var(--text-color);
}

.link:focus {
    outline: none;
    border: 1px solid var(--text-color);
}

.gallery__grid {
    display: grid;
    gap: 20px;
}

.gallery__image {
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
}

.footer {
    position: relative;
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin-top: 40px;
}

.footer__title {
    color: var(--title-color);
    text-shadow: 2px 2px 0 var(--accent-color);
    font-size: var(--header-title-size-mobile);
}

@media (width >= 768px) {

    .header__text {
        margin-block-start: 85px;
        justify-self: right;
    }

    .header__title {
        font-size: var(--header-title-size-desktop);
        margin-inline-start: -10px;
    }

    .content {
        padding: 30px 10px;
    }

    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .section__title {
        grid-row: span 2;
        padding-right: 20px;
    }
    .concentration-reducers .section__content {
        grid-column: 1 / -1;
    }

    .footer__title {
        font-size: var(--header-title-size-desktop);
    }

    .gallery {
        display: flex;
        justify-content: center;
    }

    .gallery__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .gallery__image:first-child,
    .gallery__image:last-child {
        grid-column: span 2;
    }

    .gallery__image:nth-child(2),
    .gallery__image:nth-child(3) {
        grid-row: span 2;
    }
    .gallery__image {
        inline-size: 100%;
        block-size: 100%;
    }
}

@media (width >= 1024px) {
    .header__theme-menu {
        justify-self: center;
        align-self: start;
        margin-block-start: -55px;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__text {
        margin-block-start: 20px;
        inline-size: 491px;
        block-size: 71px;
        font-size: 18px;
    }

    .section {
        margin-bottom: 80px;
    }

    .concentration-reducers .section__content {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

}
